<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FileAppender1"
			filename="${log-path}/application-${date:yyyMMdd}.log"
			immediateFlush="false" append="true">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>

		<Logger name="com.cts.blms" level="DEBUG" additivity="false">
			           
			<AppenderRef ref="FileAppender1" />
			           
			       
		</Logger>

		<Root level="INFO">

			<AppenderRef ref="ConsoleAppender" />

		</Root>
	</Loggers>
</Configuration>


    